*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Signika Negative', sans-serif;
}

/* #####################################################

               Header-Section Css Start

##################################################### */

.Header-Section{
    background-color: black;
    border-radius: 5px;
    width: 80%;
    margin: 40px auto;
    display: flex;
}
.Header-Section h1{
    color: #FFFFFF;
    font-size: 55px;
    line-height: 65px;
    padding: 70px 0px 20px 60px;
}
.Header-Section p{
    color: #FFFFFF;
    padding: 25px 0px 20px 60px;
    margin-bottom: 20px;
}
.Header-Section a{
    text-decoration: none;
    padding: 15px 25px;
    color: #FFFFFF;
    background-color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 5px;
    margin-left:  60px;
    transition: 0.5s linear;
}
.Header-Section a:hover{
    background-color: transparent;
}
.fa-arrow-right-to-bracket{
    padding-left: 15px;
}
   
.Header-img img{
    height: 555px;
    width: 450px;
    padding-right: 50px;
    padding-top: 53px;
    padding-left: 20px;
}

/* #####################################################

               Header-Section Css End

##################################################### */
/* **************************************************************>> */
/* #####################################################

               Blog-Section Css Start

##################################################### */

/*  ------ -----       Part-1     ----- -----            */
.Blog-Section{
    width: 90%;
    margin: 40px auto;
    margin-bottom: 80px;
    display: flex;
}

.side-btns{
    margin: 40px;
    width: 312px;
    height: 312px;
    background-color: black;
    border-radius: 5px;
   
}
.side-btns a{
    text-align: center;
    text-decoration: none;
    padding: 15px 25px;
    color: black;
    background-color: #FFFFFF;
    border: 2px solid blueviolet;
    border-radius: 5px;
    margin:  40px;
    transition: 0.5s linear;
    display: block;
    font-size: 18px;
}
.side-btns a:hover, .side-btns a.active{
    background-color: blueviolet;
    border: 2px solid #FFFFFF;
}
/*  ------ -----       Part-2     ----- -----            */
.news-blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-gap: 10px;
    margin-top: 40px;
}
.news{
    border: 2px solid rgb(246, 238, 238);
    border-radius: 10px;
}
.news-blog .blog img{
    width: 250px;
    height: 100px;
    margin-bottom: 10px;
}

.news-info a{
    text-decoration: none;
    margin-left: 25px;
    padding: 3px 10px;
    color: black;
    background-color: #FFFFFF;
    border: 2px solid rgb(191, 138, 241);
    transition: 0.5s linear;
    border-radius: 5px;
}
.news-info a:hover{
    background-color: rgb(191, 138, 241);
}
.news-info h3{
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
}
.Comment-Time{
    display: flex;
    margin-left: 25px;
    padding-bottom: 20px;
}
.Time{
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.Comment{
    display: flex;
    align-items: center;
}
span{
    margin-left: 5px;
}
/* #####################################################

               Blog-Section Css End

##################################################### */

/* **************************************************************>> */
/* #####################################################

               Extra-Section Css Start

##################################################### */

.Extra-Section{
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
   

}
.etra-btn a{
    text-decoration: none;
    font-size: 20px;
    padding: 15px 45px;
    color: #FFFFFF;
    margin: 50px auto;
    background-color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 5px;
    margin-left:  60px;
    transition: 0.5s linear;
}
.etra-btn a:hover{
    background-color: transparent;
    color: black;

}


/* #####################################################

               Extra-Section Css End

##################################################### */

/* **************************************************************>> */
/* #####################################################

               Footer-Section Css Start

##################################################### */

.Main-Footer-Section{
    width: 100%;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
}
.Footer-One h1{
    padding-top: 70px;
    padding-bottom: 35px;
    font-family: 'Lobster';
}
hr{
    margin-left: 125px;
    margin-right: 125px;
}
.F-Section-Two{
    padding-top: 35px;
}
.F-Section-Two ul{
    display: flex;
    padding-bottom: 45px;
    justify-content: center;
    
}
.F-Section-Two ul li{
    list-style-type: none;
    padding: 0px 25px ;
}

/* #####################################################

               Footer-Section Css End

##################################################### */

/* **************************************************************>> */
/* #####################################################

               Match-Blog Css Start

##################################################### */

.match-blog{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-gap: 10px;
}
.matchs{
    border: 2px solid rgb(246, 238, 238);
    border-radius: 10px;
}
.match{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.match img{
    padding: 10px;
}
.match p{
    padding-top: 37px;
}
.match-info{
    text-align: center;

}
.match-info h3{
    padding-bottom: 10px;
}
.match-info p{
    padding-bottom: 20px;
}
/* #####################################################

               Match-Blog Css End

##################################################### */



